<section class="hero-splash">
  <div class="hero-splash__toys">
    <div class="hero-splash__toy hero-splash__toy--left" data-lenis-hero-toy="left">
      <div class="hero-splash__toy-inner">
        <img src="{{ kirby.settings.siteImages.toysLeft.url }}" alt="">
      </div>
    </div>
    <div class="hero-splash__toy hero-splash__toy--right" data-lenis-hero-toy="right">
      <div class="hero-splash__toy-inner">
        <img src="{{ kirby.settings.siteImages.toysRight.url }}" alt="">
      </div>
    </div>
  </div>
  <div class="hero-splash__content">
    <div class="hero-splash__logo">
      <img src="{{ kirby.settings.siteImages.logoFooter.url }}" alt="{{ kirby.settings.siteImages.logoFooter.alt }}">
    </div>
    <h1 class="hero-splash__heading">{{ page.splashHeading }}</h1>
  </div>
</section>
