<section class="split-section" data-layout="split" data-image="{{ imageSide if imageSide else "right" }}">
  <div class="split-section__content flow">
    {% if heading %}
      <h2 class="split-section__heading">{{ heading }}</h2>
    {% endif %}
    {% if text %}
      <div class="split-section__text flow" data-space='xs'>
        {{ text | markdown | safe }}
      </div>
    {% endif %}
    {% if ctaText and ctaLink %}
      <div class="split-section__cta">
        <a href="{{ ctaLink }}" class="button button-primary">{{ ctaText }}</a>
      </div>
    {% endif %}
  </div>
  <div class="split-section__image">
    {% if imageSrc %}
      <img src="{{ imageSrc }}" alt="{{ imageAlt if imageAlt else heading }}" sizes="(min-width: 48rem) 50vw, 100vw">
    {% endif %}
    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="split-section__mask">
      <defs>
        <clipPath id="scallop-mask-rotated" clipPathUnits="objectBoundingBox">
          <rect x="0"     y="0" width=".2183" height="1" rx=".1575"/>
          <rect x=".1954" y="0" width=".2183" height="1" rx=".1575"/>
          <rect x=".3908" y="0" width=".2183" height="1" rx=".1575"/>
          <rect x=".5863" y="0" width=".2183" height="1" rx=".1575"/>
          <rect x=".7817" y="0" width=".2183" height="1" rx=".1575"/>
        </clipPath>
      </defs>
    </svg>
  </div>
</section>
