<!-- DEBUG: card rendering -->
<article class="card" data-filter="{{ item.workType | lower | replace(' ', '-') }}">
  <a href="/{{ item.uri }}/">
    {% if item.workImage %}
      {% image item.workImage, item.title %}
    {% endif %}
    <h2>{{ item.title }}</h2>
    <span class="separator">{{ item.workType }}</span>
    {{ item.text | markdown | safe }}
  </a>
</article>
