.wrapper {
  width: min(100% - var(--space-s-m), var(--measure-large));
  padding-inline: var(--space-xs-s);
  margin-inline: auto;
}

.wrapper[data-size='medium'] {
  width: min(100% - var(--space-s-m), var(--measure-medium));
}

.wrapper[data-size='small'] {
  width: min(100% - var(--space-s-m), var(--measure-small));
}

.flow > * + * {
  margin-block-start: var(--flow-space, var(--space-m-l));
}

.flow[data-space='xs'] > * + * {
  --flow-space: var(--space-xs-s);
}

.flow[data-space='s'] > * + * {
  --flow-space: var(--space-s-m);
}

.flow[data-space='l'] > * + * {
  --flow-space: var(--space-l-xl);
}

.grid {
  display: grid;
  gap: var(--grid-gap, var(--space-s-m));
}

.grid[data-layout='auto'] {
  grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-min, 18rem), 100%), 1fr));
}

.grid[data-layout='2col'] {
  grid-template-columns: repeat(2, 1fr);
}

@media (width <= 48rem) {
  .grid[data-layout='2col'] {
    grid-template-columns: 1fr;
  }
}

.grid[data-layout='3col'] {
  grid-template-columns: repeat(3, 1fr);
}

@media (width <= 62rem) {
  .grid[data-layout='3col'] {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 48rem) {
  .grid[data-layout='3col'] {
    grid-template-columns: 1fr;
  }
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--cluster-gap, var(--space-s-m));
  justify-content: var(--cluster-horizontal, flex-start);
  align-items: var(--cluster-vertical, center);
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: var(--stack-vertical, flex-start);
  align-items: var(--stack-horizontal, stretch);
}

.stack[data-align='center'] {
  --stack-horizontal: center;
  text-align: center;
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure-medium);
}

.center[data-align='text'] {
  text-align: center;
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-gap, var(--space-l-xl));
}

.sidebar > :first-child {
  flex-basis: var(--sidebar-width, 16rem);
  flex-grow: 1;
}

.sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

.cover {
  display: flex;
  flex-direction: column;
  min-block-size: var(--cover-min, 100vh);
  padding: var(--cover-padding, var(--space-m-l));
}

.cover > :first-child:not(.cover__centered),
.cover > :last-child:not(.cover__centered) {
  margin-block: auto;
}

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--switcher-gap, var(--space-m-l));
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--switcher-threshold, 30rem) - 100%) * 999);
}

.section {
  padding-block: var(--section-padding, var(--space-xl-2xl));
}

.section[data-padding='small'] {
  --section-padding: var(--space-l-xl);
}

.section[data-padding='large'] {
  --section-padding: var(--space-2xl-3xl);
}

.repel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: var(--repel-vertical, center);
  gap: var(--repel-gap, var(--space-s-m));
}
