.card {
  background-color: var(--color-bg);
  overflow: hidden;
  transition: background-color .6s ease-out, box-shadow .7s ease-out;
  text-decoration: none;
  color: inherit;
  display: block;
  border-radius: var(--radius-2xl);
}

.card:hover {
  background-color: var(--color-honeydew);
  box-shadow: 0 7px 20px 20px var(--color-honeydew);
}

.card__image-wrap {
  overflow: hidden;
  position: relative;
  border-radius: var(--radius-2xl);
  border: 1px solid var(--color-black);
  box-sizing: content-box;
}

.card__image-wrap picture,
.card__image-wrap img {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease-out;
}

.card:hover .card__image-wrap picture,
.card:hover .card__image-wrap img {
  transform: scale(1.03);
}

.card a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card__body {
  padding-inline: var(--space-2xs);
  padding-block-start: var(--space-s);
}

.card__category {
  position: absolute;
  top: var(--space-xs);
  right: var(--space-xs);
  display: inline-block;
  font-size: var(--step--2);
  font-weight: var(--weight-semibold);
  color: var(--color-dark);
  background: var(--color-light);
  padding: 2px var(--space-s);
  border-radius: var(--radius-full);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.card__title {
  font-size: var(--step-2);
  /* font-weight: var(--weight-semibold); */
  line-height: var(--leading-tight);
  margin: 0;
  color: var(--color-dark);
}

.card__excerpt {
  font-size: var(--step-0);
  color: var(--color-text-light);
  margin-block-start: var(--space-xs);
  line-height: var(--leading-normal);
}
