.filter-tabs {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  justify-content: center;
  padding-block: var(--space-s-m);
}

.filter-tabs__btn {
  font-family: var(--font-body);
  font-size: var(--step--2);
  font-weight: var(--weight-medium);
  padding: 1rem 2.125rem;
  border: 1px solid var(--color-pink);
  border-radius: 50px;
  background: var(--color-pink);
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.filter-tabs__btn:hover {
  border-color: var(--color-honeydew);
  background-color: var(--color-honeydew);
  box-shadow: 1px 1px 20px 4px var(--color-honeydew);
  color: var(--black);
}

.filter-tabs__btn.is-active {
  border-color: var(--color-honeydew);
  background-color: var(--color-honeydew);
  box-shadow: 0 2px 5px 0 var(--color-honeydew);
  color: var(--black);
  cursor: default;
}
