.hero {
  display: grid;
  min-height: 80vh;
  /* padding-block: var(--space-xs-s); */
  padding-inline: var(--space-xs-s);
}

.hero__image {
  overflow: hidden;
}

.hero__image picture,
.hero__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: auto;
  object-fit: cover;
  display: block;
  clip-path: url(#scallop-mask);
}

.hero__frame {
  position: absolute;
  width: 0;
  height: 0;
}

.hero__content {
  background-color: var(--color-bg-light);
  border-radius: var(--radius-2xl);
  padding: var(--space-m-l);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__content-inner {
  max-width: var(--measure-small);

}

.hero__heading {
  /* font-family: var(--font-heading); */
  font-size: var(--step-5);
  color: var(--color-text);
}

.hero__text {
  font-size: var(--step-0-1);
  line-height: var(--leading-relaxed);
  color: var(--color-text);
}

.hero__cta {
  margin-block-start: var(--space-m);
}

@media (width > 66rem) {
  .hero {
    padding-inline: var(--space-xl-2xl);
    gap: var(--space-xs-s);
  }

  .hero[data-layout='split'] {
    grid-template-columns: 1fr 1.5fr;
  }

  .hero[data-layout='split'][data-image='right'] {
    grid-template-columns: 1.5fr 1fr;
  }

  .hero[data-layout='split'][data-image='right'] .hero__image {
    order: 1;
  }

  .hero[data-layout='split'] .hero__image {
    height: 85vh;
    position: sticky;
    top: calc(var(--navbar-height) + var(--space-l));
  }

  .hero__content {
    padding: var(--space-2xl) var(--space-2xl) var(--space-2xl) var(--space-l-xl);
  }
}
