.hero-hero {
  display: grid;
  min-height: 90vh;
  /* border-bottom: 1px solid var(--color-border); */
}

.hero-hero__image {
  overflow: hidden;
  padding-block: var(--space-xl);
}

.hero-hero__image picture,
.hero-hero__image img {
  width: 100%;
  aspect-ratio: auto;
  object-fit: contain;
  display: block;
}

.hero-hero__content {
  padding: var(--space-l) var(--space-m);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-hero__heading {
  font-family: var(--font-heading);
  font-size: var(--step-4);
  font-weight: 900;
  line-height: var(--leading-tight);
  color: var(--color-pink);
  margin: 0;
}

.hero-hero__text {
  max-width: var(--measure-small);
  font-size: var(--step-1);
  line-height: var(--leading-relaxed);
  color: var(--color-text);
}



.hero-hero__cta {
  margin-block-start: var(--space-m);
}

@media (width > 66rem) {
  .hero-hero {
    padding-inline: 10vw;
  }
  .hero-hero[data-layout='split'] {
    grid-template-columns: 1fr 2fr;
  }

  .hero-hero[data-layout='split'] .hero-hero__image {
    height: 90vh;
  }

  .hero-hero[data-layout='split'] .hero-hero__image picture,
  .hero-hero[data-layout='split'] .hero-hero__image img {
    height: 100%;
  }

  .hero-hero__content {
    padding: var(--space-2xl) var(--space-l);
  }
}
